.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# Ignore LaTeX build artifacts
*.aux
*.log
*.out
*.pdf
*.xdv
*.fdb_latexmk
*.fls

# Ignore system files
.DS_Store

# Ignore other temporary files
*.tmp
*.bak
